<h2>All Workers</h2>

<table class="workers-table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birth Date</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let w of workers">
      <td>{{ w.email }}</td>
      <td>{{ w.username }}</td>
      <td>{{ w.firstName }}</td>
      <td>{{ w.lastName }}</td>
      <td>{{ w.birthday | date:'mediumDate' }}</td>
      <td>
        <button (click)="editWorker(w.username)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>