<div id="main">
    <header>
        <div class="logo-container">
            <img src="assets/logo.png" alt="App Logo" class="logo" />
        </div>

        <nav>
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/myshift" routerLinkActive="active">My Shifts</a></li>
                <li><a routerLink="/shiftForm" routerLinkActive="active">Add New Shift</a></li>
                <li><a routerLink="/editProfile" routerLinkActive="active">Edit Profile</a></li>
                <li><a href="#" (click)="logout()">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome to Your Dashboard</h1>
        <p>Select an option from the menu to begin.</p>

        <!-- TODO: dash board, summary -->
        <p><strong>Working on dashboard</strong></p>

    </main>

    <footer>
        <p>Author: kim and khuna</p>
    </footer>
</div>